body { background-color: #000; -webkit-animation-name: fadeIn; -webkit-animation-duration: 2s;	-webkit-animation-timing-function: ease-in-out; }
body.fadeOut { background-color: #000; -webkit-animation-name: fadeOut; -webkit-animation-duration: 2s;	-webkit-animation-timing-function: ease-in-out; }
/* WEBKIT ONLY FADE IN */
@-webkit-keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }
@-webkit-keyframes fadeOut { from { opacity: 1; } to { opacity: 0; } }

/* headers */
h1 { color: #fffefe; font-size: inherit; display: inline; }
h2 { font-size: 19px; color: #fefefe; }

header { border-bottom: 1px solid #333333; width:100%; } 

/* NAV and FOOTER */
header nav ul { padding: 68px 5px 6px; }
header nav h1, header nav li { line-height: 13px; padding: 0 5px; }
header nav li > h1 { padding: 0; }
header nav li, footer li { font-size: 13px; font-weight: bold; color:#7e7e7e; display: inline-block; }
header li:first-child { padding-right: 0px; }
a { color: inherit; text-decoration: none; }
.active, a:hover { color:#fffefe; }

/* FOOTER */
footer { border-top: 1px solid #333333; width: 100%; position: absolute; bottom: 0; }
footer ul { padding: 0 5px 20px; }
footer li { padding: 0 0 0 1px; font-size: 12px; }
footer li:first-child { padding-left: 5px; }

/* SECTIONAL CONTENT */
section { margin-bottom: 40px; }

/* BIOGRAPHY */
#biography + footer { position: relative; }
#biography div { margin-left: 145px; margin-right: 80px; margin-top: 10px; margin-bottom: 150px; }
/* BIOGRAPHY TEXT */
#biography cite, 
	#biography description, 
		#biography p { font-family: Georgia; font-weight: 100; font-size: 18px; color: #fefefe; line-height: 24px; text-align: justify; word-spacing: .05em; padding-bottom: 20px; }
#biography p:last-child { padding-bottom: 0; }

#biography cite, #biography details { color: #656565; display:block; }
#biography details { line-height: 24px; }

/* VIDEO AND PORTFOLIO CITATION */
.media cite { display:block; font-style: italic; text-align: center; font-size: 12px; color: #c6c6c6; }

#portfolio li { display: block; height:60px; line-height:60px; overflow: hidden; }
#portfolio nav { opacity: 0; }
li.selected { background: url(../img/caret.png) no-repeat left center; }

#wrapper { height:200px; position:absolute; z-index:1; right:0; width:115px; overflow:hidden; text-align:center; }
#scroller { float:right; width:100%; padding:0; }